<h1>ircdb: Quotes for the Masses</h1>
<%= link_to 'New Quote', new_quote_path %>
<br />
<% @quotes.each do |quote| %>
	<div class="quoteBlock">
		<p>Quote <%= link_to quote.id, quote %> submitted by: <%= quote.author %> (<%= quote.submitted_at.utc.strftime("%F %T UTC") %>)</p>
		<span><%= simple_format(quote.content, :class => 'quote') %></span>
		<p><%= quote.up %> up, <%= quote.down %> down</p>
	</div>
<% end %>