<% @quotes.each do |quote| %>
	<div class="quoteBlock">
		<p>Quote <%= link_to quote.id, quote %> submitted by: <%= quote.author %></p>
		<span><%= simple_format(quote.content, :class => 'quote') %></span>
		<p>Submitted <%= quote.created_at.utc.strftime("%F %T UTC") %>, <%= quote.rating %> rating (<%= quote.upvotes.length %> up, <%= quote.downvotes.length %> down)</p>
	</div>
<% end %>